<mat-card class="card">
  <button class="button-back">
    <a href="/clients"><mat-icon class = "icon-back">arrow_left</mat-icon></a>
  </button>

  <mat-card-header>
    <mat-card-title>IDCard</mat-card-title>
    <mat-card-subtitle>- details -</mat-card-subtitle>
    <hr color="#4CAF50">

  </mat-card-header>

  <mat-card-content>

    <mat-list>

      <mat-list-item>CNP: <p>&nbsp;{{idCard.cnp}}</p></mat-list-item>
      <mat-list-item>Nationality: <p>&nbsp;{{idCard.nationality}}</p></mat-list-item>
      <mat-list-item>Place of birth: <p>&nbsp;{{idCard.placeOfBirth}}</p></mat-list-item>
      <mat-list-item>Residence: <p>&nbsp;{{idCard.residence}}</p></mat-list-item>
      <mat-list-item>Sex: <p>&nbsp;{{idCard.sex}}</p></mat-list-item>
      <mat-list-item>Series: <p>&nbsp;{{idCard.series}}</p></mat-list-item>
      <mat-list-item>Number: <p>&nbsp;{{idCard.number}}</p></mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>
