<div class = "container">
<table class = "contracts">
  <tr>
    <th>Client</th>
    <th>Subscription</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let contract of contracts"
      [class.selected]="contract === selectedContract"
      (click)="onSelect(contract)">
    <td> {{contract.clientName}} </td>
    <td> {{contract.subscriptionType}} </td>
    <td> {{contract.date | date: 'dd/MM/yyyy'}} </td>
  </tr>
</table>


<app-contract-detail [contract] = "selectedContract"></app-contract-detail>
</div>

