
<div class = "container">

  <mat-form-field class = "search-bar">
    <mat-label>Search</mat-label>
    <input matInput type="text" autocomplete="off" placeholder="Search" [formControl]="formFilter">
    <mat-icon matPrefix aria-hidden="false">search</mat-icon>
  </mat-form-field>

  <div class = "mat-elevation-z9">
    <table mat-table [dataSource]="dataSource" class = "contracts" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="id">
          <a class="action-button add-button" routerLink="/contracts/add"><mat-icon class="icon">add</mat-icon></a>
        </th>
        <td mat-cell *matCellDef></td>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef class="column" mat-sort-header> Client name</th>
        <td mat-cell *matCellDef="let contract"> {{contract.client.name}} </td>
      </ng-container>

      <ng-container matColumnDef="subscriptionType">
        <th mat-header-cell *matHeaderCellDef class="column" mat-sort-header> Subscription Type </th>
        <td mat-cell *matCellDef="let contract"> {{contract.subscription.type}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="column" mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let contract"> {{contract.address}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef class="column" mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let contract"> {{contract.date | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="modify"> Modify </th>
        <td mat-cell *matCellDef="let contract">
          <a class="action-button" routerLink="/contracts/update" [state]="contract"><mat-icon>edit</mat-icon></a>
          <a class="action-button" (click)="openDeleteDialog(contract.id)"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'clientName', 'subscriptionType', 'address', 'date', 'action']"></tr>
      <tr mat-row *matRowDef="let contract; columns: ['id', 'clientName', 'subscriptionType', 'address', 'date', 'action']" [class.selected]="contract === selectedContract" (click)="onSelect(contract)"></tr>
    </table>

    <mat-toolbar>
      <mat-toolbar-row>
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>

  <app-contract-detail [contract] = "selectedContract"></app-contract-detail>

</div>
