table {
  border-collapse: collapse;
  width: 100%;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: auto
}

mat-toolbar-row {
  justify-content: space-between;
}

.paginator {
  background-color: rgb(245,245,245);
  margin-left: auto;
}

.mat-column-select {
  overflow: initial;
}

.modify {
  width: 10%;
}

.column {
  width: 28.33%
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
  font-size: 15px;
}

.subscriptions, tr, td {
  border-color: #4caf50;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

.subscriptions tr:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

mat-toolbar-row {
  margin-left: 10px;
}

.action-button {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4caf50;
  border-radius: 12px;
}

.add-button {
  margin-left: -5px;
}

.action-button:hover {
  background-color: #3e8e41
}

.icon {
  padding-top: 3px;
}

.search-bar {
  display: block;
  width: 200px;
  float: right;
  margin-left: auto;

}

.search {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
}

mat-radio-group {
  display: block;
  float: right;
}

mat-radio-button {
  margin-right: 20px;
}

/deep/ .tooltip {
  background-color: #4CAF50;
  color: white;
}

input {
  padding: .5rem;
}


