table {
  border-collapse: collapse;
  width: 100%;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: auto
}

mat-toolbar-row {
  justify-content: space-between;
}

.paginator {
  background-color: rgb(245,245,245);
  margin-left: auto;
}

.mat-column-select {
  overflow: initial;
}

.column {
  width: 29%
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
  font-size: 15px;
}

.contracts, tr, td {
  border-color: #4caf50;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

.contracts tr:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
  cursor: pointer;
}

.contracts tr.selected {
  background-color: #d0d0d0;
  color: white;
}

.contracts tr.selected:hover {
  background-color: #cacaca;
  color: white;
}

mat-toolbar-row {
  margin-left: 10px;
}

.action-button {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4caf50;
  border-radius: 12px;
}

.add-button {
  margin-left: -5px;
}

.action-button:hover {
  background-color: #3e8e41
}

.icon{
  padding-top: 3px;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25%;
  color: #4CAF50;
  font-size: 20px;
}

.search-bar {
  display: block;
  width: 200px;
  margin-left: auto;
  float: right;
}

.button-back:hover {
  background-color: #4caf50;
}

.button-back:active {
  color: #000000;
}

.button-back {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #1F2233;
  padding-left: 3px;
  padding-top: 2px;
  align-items: center;
}

mat-icon {
  font-size: 27px;
}

input {
  padding: .5rem;
}


