
<div class = "container">

  <mat-form-field class = "search-bar">
    <mat-label>Search</mat-label>
    <input matInput type="text" autocomplete="off" placeholder="Search" [formControl]="formFilter">
    <mat-icon matPrefix aria-hidden="false">search</mat-icon>
  </mat-form-field>

  <div class = "mat-elevation-z9">
    <table mat-table [dataSource]="dataSource" class = "clients" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="id">
          <a class="action-button add-button" routerLink="/clients/add"><mat-icon class="icon">add</mat-icon></a>
        </th>
        <td mat-cell *matCellDef></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="column" mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let client"> {{client.name}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="column" mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let client"> {{client.email}} </td>
      </ng-container>

      <ng-container matColumnDef="idCard">
        <th mat-header-cell *matHeaderCellDef class="action"> ID Card </th>
        <td mat-cell *matCellDef="let client">
          <a class="action-button" routerLink="/clients/idCard/details" [state]="client.idCard"><mat-icon>account_box</mat-icon></a>
        </td>
      </ng-container>

      <ng-container matColumnDef="contracts">
        <th mat-header-cell *matHeaderCellDef class="action"> Contracts </th>
        <td mat-cell *matCellDef="let client">
          <a class="action-button" routerLink="/clients/contracts" [state]="client"><mat-icon>receipt</mat-icon></a>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="modify"> Modify </th>
        <td mat-cell *matCellDef="let client">
          <a class="action-button" routerLink="/clients/update" [state]="client"><mat-icon>edit</mat-icon></a>
          <a class="action-button" (click)="openDeleteDialog(client.id)"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id','name', 'email', 'idCard', 'contracts', 'action']"></tr>
      <tr mat-row  *matRowDef="let client; columns: ['id','name', 'email', 'idCard', 'contracts', 'action']"
          matTooltip="ID: {{client.id}}" [matTooltipPosition]="'after'" [matTooltipClass]="{'tooltip': true}"></tr>
    </table>

    <mat-toolbar>
      <mat-toolbar-row>
        <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>

</div>
