table {
  border-collapse: collapse;
  width: 100%;
}

.container {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: auto
}

mat-toolbar-row {
  justify-content: space-between;
}

.paginator {
  background-color: rgb(245,245,245);
}

.mat-column-select {
  overflow: initial;
}

.modify {
  width: 6%;
}

.column {
  width: 31%
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
  font-size: 15px;
}

.clients, tr, td {
  border-color: #4caf50;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

.clients tr:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
  cursor: pointer;
}

.clients tr.selected {
  background-color: #d0d0d0;
  color: white;
}

.clients tr.selected:hover {
  background-color: #cacaca;
  color: white;
}

mat-toolbar-row {
  margin-left: 10px;
}

.action-button {
  display: inline-block;
  padding: 3px 3px;
  margin-right: 3px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #4caf50;
  border-radius: 12px;
}

.action-button:hover {
  background-color: #3e8e41
}

.icon{
  padding-top: 3px;
}

input {
  padding: .5rem;
}


