.baseChart {
  margin: auto;
  display: block;
  width: 50%;
}

button{
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #1F2233;
}

button:hover {
  background-color: #4caf50;
}

button:active {
  background-color: #3e8e41;
}

a:active {
  color: #000000;
}

button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #1F2233;
  margin: 20px;
  padding-left: 2px;
}


a {
  color: black;
}

p {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
